body {
    padding: 25px;
    background-color: #3b5175;

}

#main, #footer, #main_header {
    background-color: #95a7c4;
    padding: 10px;
    border-width: 10px;
    border-style: ridge;
    Border-color: #dae8ed
}

#footer {
    font-style: italic;
}

#main_header {
    margin: auto;
    padding-bottom: 30px;
}

a:visited {
    color:gray;
}

a:hover
{
    color:white;
}

a:link
{
    color:cyan;
}

.image{
    height: 500px;
    width:  500px;
}

.credit{
    font-style: italic;
}

.logo{
    width:250px;
    height:250px;
}